<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora</title>
</head>
<body>
    <form action="/calcula">
        <label for="number1">numero1</label>
        <input type="number" name="number1" id="number1">
        
        <select name="oper" id="oper">
            <option value="soma">somar</option>
            <option value="subtração">subtrair</option>
            <option value="multiplicação">multiplicar</option>
            <option value="divisão">divisão</option>
        </select>
        
        <label for="number2">numero2</label>
        <input type="number" name="number2" id="number2">        

        <button>Calcula</button>
    </form>
    <br>   
    
</body>
</html>